@{
    ViewData["Title"] = "Home Page";
}

<!--Home page that displays the uncompleted task based on quadrant-->

@model List<Mission08_Team0111.Models.Task>

<div class="quadrant-parent">
    <h1>Stephen Covey&apos;s Time Management Matrix</h1>
    <div class="container">
        <div class="row">
            <div class="col-1"></div>
            <div class="col">
                <p>Urgent</p>
            </div>
            <div class="col">
                <p>Not Urgent</p>
            </div>
        </div>
        <div class="row">
            <div class="col-1">
                <p class="rotated-text">Important</p>
            </div>
            <div class="col">
                <h2>Quadrant 1</h2>
				<ul>
					@foreach (var x in Model)
					{
						if (x.Quadrant == 1)
						{
                            <li>
                                @x.TaskName
                                <a asp-controller="Home" asp-action="EditTask" asp-route-id="@x.TaskID"><i class="bi bi-pencil-square"></i></a>
                                <a asp-controller="Home" asp-action="DeleteTask" asp-route-id="@x.TaskID" class="text-danger" onclick="confirm('Are you sure you want to delete?')"><i class="bi bi-trash"></i></a>
                            </li>
						}
					}
                </ul>
            </div>
            <div class="col">
                <h2>Quadrant 2</h2>
                <ul>
                    @foreach (var x in Model)
                    {
                        if (x.Quadrant == 2)
                        {
                            <li>
                                @x.TaskName
                                <a asp-controller="Home" asp-action="EditTask" asp-route-id="@x.TaskID"><i class="bi bi-pencil-square"></i></a>
                                <a asp-controller="Home" asp-action="DeleteTask" asp-route-id="@x.TaskID" class="text-danger" onclick="confirm('Are you sure you want to delete?')"><i class="bi bi-trash"></i></a>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-1">
                <p class="rotated-text">Not Important</p>
            </div>
            <div class="col">
                <h2>Quadrant 3</h2>
                <ul>
                    @foreach (var x in Model)
                    {
                        if (x.Quadrant == 3)
                        {
                            <li>
                                @x.TaskName
                                <a asp-controller="Home" asp-action="EditTask" asp-route-id="@x.TaskID"><i class="bi bi-pencil-square"></i></a>
                                <a asp-controller="Home" asp-action="DeleteTask" asp-route-id="@x.TaskID" class="text-danger" onclick="confirm('Are you sure you want to delete?')"><i class="bi bi-trash"></i></a>
                            </li>
                        }
                    }
                </ul>
            </div>
            <div class="col">
                <h2>Quadrant 4</h2>
                <ul>
                    @foreach (var x in Model)
                    {
                        if (x.Quadrant == 4)
                        {
                            <li>
                                @x.TaskName
                                <a asp-controller="Home" asp-action="EditTask" asp-route-id="@x.TaskID"><i class="bi bi-pencil-square"></i></a>
                                <a asp-controller="Home" asp-action="DeleteTask" asp-route-id="@x.TaskID" class="text-danger" onclick="confirm('Are you sure you want to delete?')"><i class="bi bi-trash"></i></a>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

<a asp-controller="Home" asp-action="CreateTask" class="btn btn-primary mt-3">Create Task</a>
